.galleryMaster {
  width: 100%;
  padding: 9em 6em 4em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* .galleryContainer {
  width: 100%;
  display: grid;
  gap: 0.75em;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: masonry;
}
.galleryImg {
  width: 100%;
} */

.galleryContainer {
  column-count: 4;
  column-gap: 0.75em;
}

.galleryImg {
  width: 100%;
  margin-bottom: 0.75em;
  break-inside: avoid;
}

@media (max-width: 1150px) {
  .galleryMaster {
    padding: 9em 3em 4em;
  }
}

@media (max-width: 820px) {
  .galleryMaster {
    padding: 9em 2em 4em;
  }

  .galleryContainer {
    column-count: 3;
  }
}

@media (max-width: 576px) {
  .galleryMaster {
    padding: 9em 1em 4em;
  }

  .galleryContainer {
    column-count: 1;
  }
}
