.homeMaster {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
}

.pinkDivider {
  width: 340px;
  height: 8px;
  background-color: #eda0a0;
  margin: 1em 0;
}

.circleIcon {
  font-size: 16px;
}

.bulletContainerMaster {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 4em;
  margin-bottom: 3em;
}

.bulletList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.bulletPoint {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.homeDarkWrapper {
  width: 100vw;
  padding: 8em 0 8em 4em;
  background-color: #253035;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.h3 {
  font-weight: 400;
  font-size: 24px;
}

.h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2em;
}

.paragraph {
  font-size: 18px;
}

.homeLink {
  color: #eda0a0;
  font-weight: 400;
  text-decoration: underline;
}
